@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body {
  background: url(../images/bg.webp);
  background-size: 50px 100px;
}

body.fixed_nav {
  margin-top: 100px;
}

body.fixed_nav > nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.mob_menu {
  display: none;
}

#touchMenu {
  display: none;
}

.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(210deg, #f0e000, #ff4d4d);
  width: 100%;
  position: relative;
  z-index: 1;
}

.nav_menu #menuTarget {
  position: absolute;
  top: -100px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -10;
  -webkit-transform: scale(100%);
          transform: scale(100%);
}

.nav_menu > li ul {
  position: absolute;
  display: none;
  background: linear-gradient(50deg, #f0b000, #f0cc00);
  width: 200px;
}

.nav_menu > li ul a {
  width: calc(100% - 20px);
  display: inline-block;
  padding: 10px;
}

.nav_menu > li ul a:hover {
  color: black;
  background-color: white;
}

.nav_menu > li a {
  display: inline-block;
  padding: 25px;
  font-size: 20px;
}

.nav_menu > li:hover ul {
  display: block;
}

.nav_menu .menu1 {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.nav_menu .menu2 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.nav_menu .menu3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.nav_menu .menu4 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.nav_menu .menu5 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.nav_menu a[href='index.html'] {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.nav_menu a[href='index.html'] img {
  width: 250px;
  margin: 0 20px;
}

.nav_menu a {
  text-decoration: none;
  color: cyan;
}

.nav_menu img {
  vertical-align: middle;
}

main {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

.breadcrumbs {
  max-width: 1400px;
  font-size: 19px;
  margin: 20px auto;
  color: greenyellow;
}

.breadcrumbs a {
  text-decoration: none;
  color: blue;
}

.breadcrumbs a + a::before {
  content: ' / ';
  color: #00ff15;
}

.banner {
  max-width: 1600px;
  height: 800px;
  margin: auto;
  overflow: hidden;
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
  padding: 0 20px;
}

.banner div > img {
  width: 40px;
}

.banner > div {
  position: absolute;
  color: white;
  z-index: 100;
  top: 45%;
  padding: 30px 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  opacity: 0;
}

.banner > div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.banner > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.banner > a img {
  width: 100%;
  height: 800px;
  position: absolute;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes bannerAni {
  0% {
    -webkit-transform: rotateY(270deg);
            transform: rotateY(270deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes bannerAni {
  0% {
    -webkit-transform: rotateY(270deg);
            transform: rotateY(270deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
}

.banner .show {
  -webkit-animation: bannerAni ease-in .3s;
          animation: bannerAni ease-in .3s;
}

.banner > .banner_left {
  left: 20px;
}

.banner > .banner_right {
  right: 20px;
}

.banner:hover > div {
  opacity: 1;
}

.mg_top10 {
  margin-top: 10px;
}

ul.icon_check li {
  list-style-image: url(../images/check.svg);
  margin-left: 20px;
}

ul.icon_x li {
  list-style-image: url(../images/x-lg.svg);
  margin-left: 20px;
}

.content {
  border: 5px ridge;
  border-radius: 6px;
  width: 100%;
  margin: 100px auto 50px;
  padding-bottom: 20px;
  color: white;
}

.content .header {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.content .header h2 {
  font-weight: 900;
  font-size: 40px;
  color: yellow;
  margin: 20px;
}

.content .header p {
  font-size: 20px;
  line-height: 1.5;
}

.content .header a {
  color: blue;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.content .header a:hover {
  color: cyan;
}

.content .header > img {
  margin: 15px auto;
}

.content > article {
  width: 70%;
  margin: 30px auto;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.content > article > div {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}

.content > article > div h3 {
  text-align: center;
  font-size: 36px;
  color: yellow;
}

.content > article > div h4 {
  color: yellow;
  text-align: center;
  font-size: 30px;
}

.content > article > div.ani {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.content > article img {
  width: 100%;
  border-radius: 8px;
}

.content > article a {
  text-decoration: none;
  color: blue;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.content > article a:hover {
  color: cyan;
}

.content > article:nth-of-type(even) div:nth-of-type(2) {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.content .code {
  max-width: 800px;
  margin: 30px auto;
  line-height: 1.6;
}

.content .code > h3 {
  font-size: 30px;
  text-align: center;
  color: yellow;
  margin-top: 20px;
}

.content .code p {
  font-size: 20px;
}

.content .code p > a {
  color: blue;
  -webkit-transition: all .4s;
  transition: all .4s;
  text-decoration: none;
}

.content .code p > a:hover {
  color: cyan;
}

.content .code .mark {
  color: chartreuse;
  font-weight: 900;
}

.content .code ol {
  list-style: decimal;
  font-size: 20px;
  padding-left: 35px;
}

.content .code ol > li {
  list-style: decimal;
  border-left: 4px solid chartreuse;
  padding-left: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.content .code ol pre {
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  word-wrap: break-word;
}

.content .code ol {
  background-color: cadetblue;
}

.content .code ol li {
  color: blue;
}

.content .code > h5 {
  font-size: 24px;
  margin: 10px 0;
  color: yellow;
}

.content .code > img {
  width: 100%;
  border-radius: 8px;
}

.content .code .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .code .flex_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .code .wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  word-wrap: break-word;
}

.content .code .flex_left {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.end_text {
  text-align: center;
  margin-bottom: 30px;
}

.end_text h2 {
  color: yellow;
  font-size: 40px;
  margin-bottom: 20px;
}

.end_text p {
  color: white;
  font-size: 20px;
  line-height: 1.5;
}

.end_text a {
  color: blue;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.end_text a:hover {
  color: cyan;
}

footer {
  padding: 20px 0;
  color: white;
  background-color: black;
  text-align: center;
}

footer > div {
  padding-top: 15px;
}

@media screen and (max-width: 1023px) {
  .nav_menu {
    display: none;
  }
  #touchMenu {
    width: 50px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 65535;
  }
  #touchMenu > svg {
    position: absolute;
    cursor: pointer;
  }
  #touchMenu > #svg2 {
    opacity: 0;
  }
  .mob_menu {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    top: -200%;
    z-index: 10;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: gray;
    width: 100%;
    height: 100vh;
    z-index: 200;
  }
  .mob_menu a {
    text-decoration: none;
    color: cyan;
  }
  .mob_menu a:focus {
    color: blue;
  }
  .mob_menu > .menu5_more {
    width: 100%;
    height: 100vh;
    left: -200%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .code {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .banner > div {
    opacity: 1;
  }
  .banner > a > img {
    height: auto;
    min-height: 90vh;
    margin: auto;
  }
  .banner > .banner_left {
    left: 5%;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .banner > .banner_right {
    background-color: rgba(255, 255, 255, 0.2);
    right: 5%;
  }
  .breadcrumbs {
    padding-left: 20px;
  }
  .breadcrumbs > a:focus {
    color: cyan;
  }
  .content > header.header {
    padding: 0 20px;
  }
  .content > article {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content > article > div {
    width: 100%;
  }
  .content > article > div:nth-of-type(even) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
/*# sourceMappingURL=style.css.map */