@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

$titleColor:rgb(255, 255, 0);
$text:20px;
$hrefColor:rgb(0, 0, 255);
$hoverHrefColor:rgb(0, 255, 255);

body{
    background: url(../images/bg.webp);
    background-size: 50px 100px;
}
body.fixed_nav{
    margin-top: 100px;
    >nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
    }
}

// Vue
[v-cloak]{
    display: none;
}

.mob_menu{
    display: none;
}
#touchMenu{
    display: none;
}
.nav_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(210deg,rgb(240, 224, 0),rgb(255, 77, 77));
    width: 100%;
    position: relative;
    z-index: 1;
    padding-left: 50px;
    box-sizing: border-box;
    #menuTarget{
        position: absolute;
        top: -100px;
        background-color: rgba(255, 255, 255, 0.5);
        transition: all .3s;
        z-index: -10;
        transform: scale(100%);
    }
    >li ul{
        position: absolute;
        background: linear-gradient(50deg,rgb(240, 176, 0) , rgb(240, 204, 0));
        width: 200px;
        height: 0px;
        overflow: hidden;
        transition: opacity .7s , height .7s;
        a{
            width: calc(100% - 50px);
            display: inline-block;
            padding: 10px;
            &:hover{
                color: black;
                background-color: white;
            }
        }
    }
    >li:not(.menu0){
        a{
            display: inline-block;
            padding: 25px;
            font-size: $text;
        }
    }

    >li:hover ul{
        opacity: 1;
        height: 420px;
    }
    // 預計只對menu5寫額外ul區域 但因Vue的for關係導致產生多個ul
    >li:not(.menu5)>ul{
        display: none;
    }
    a{
        text-decoration: none;
        color: $hoverHrefColor;
    }
    a[href='./index.html']{
        order: 2;
        img{
            width: 250px;
            margin: 0 20px;
        }
    }
    img{
        vertical-align: middle;
    }
    .menu0{
        order: 0;
    }
    .menu1{
        order: -2;
    }
    .menu2{
        order: -1;
    }

}

main{
    max-width: 1400px;
    margin: auto;
    padding:0 20px;
}
.breadcrumbs{
    width: 1400px;
    max-width: 80%;
    font-size: 19px;
    margin: 20px auto;
    color: greenyellow;
    a{
        text-decoration: none;
        color: $hrefColor;
        &:focus{
            color: $hoverHrefColor;
        }
    }
    a+a::before{
        content: ' / ';
        color: rgb(0, 255, 21);
    }
}
.banner{
    max-width: 1600px;
    min-height: 800px;
    margin: auto ;
    overflow: hidden;
    position: relative;
    perspective: 500px;
    padding: 0 20px;
    &:hover>div{
        opacity: 1;
    }
    div>img{
        width: 40px;
        
    }
    >div{
        position: absolute;
        color:white;
        z-index: 100;
        top: 45%;
        padding: 30px 10px;
        transition: all .3s;
        cursor: pointer;
        opacity: 0;
        &:hover{
            background-color: rgba(255,255,255,.5);
        }
    }
    >a{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        position: relative;
        
        img{
            width: 100%;
            height: 800px;
            position: absolute;
            border-radius: 8px;
            box-sizing: border-box;
        }
    }
    @keyframes bannerAni {
        0%{
            transform: rotateY(270deg);
            opacity: 0;
        }
        50%{
            transform: rotateY(100deg);
            opacity: 0.5;
        }
        100%{
            transform: rotateY(0deg);
            opacity: 1;
        }
    }
    .show{
        animation: bannerAni ease-in .3s
    }
    >.banner_left{
        left: 40px;
    }
    >.banner_right{
        right: 40px;
    }
}

// 全域
.mg_top10{
    margin-top: 10px;
}
.mg_bottom10{
    margin-bottom: 10px;
}
.mg_right_left10{
    margin: 0 10px;
}
ul.icon_check li{
    list-style-image: url(../images/check.svg);
    margin-left: 20px;
}
ul.icon_x li{
    list-style-image: url(../images/x-lg.svg);
    margin-left: 20px;
}
ul.icon_qu li{
    list-style-image: url(../images/question-lg.svg);
    margin-left: 20px;
}
ul.disc li{
    list-style: disc;
    margin-left: 20px;
}
.w100{
    width: 100px;
}
.w200{
    width: 200px;
}
.w300{
    width: 300px;
}
.w400{
    width: 400px;
}
table.explain{
    width: 600px;
    max-width: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    th{
        border-top: 1px solid rgb(0, 0, 0);
        border-left: 1px solid rgb(0, 0, 0);
        border-right: 1px solid rgb(0, 0, 0);
        padding: 2px 0;
    }
    td{
        border: 1px solid rgb(0, 0, 0);
        padding: 3px 0;
    }
}
.bg1{
    background: linear-gradient(45deg,rgb(126, 93, 245),rgb(142, 177, 255));
}
.bg2{
    background: linear-gradient(45deg,rgb(142, 177, 255),rgb(126, 93, 245));
}

i.mid{
    vertical-align: middle;
}
i.arrow_right::before{
    content: url(../images/arrow-right.svg);
}
.fz20{
    font-size: 20px;
}
.content{
    border: 5px ridge;
    border-radius: 6px;
    width: 100%;
    margin: 100px auto 50px;
    padding-bottom: 20px;
    color: white;
    a{
        color: $hrefColor;
        text-decoration: none;
        transition: color .2s;
        &:hover{
            color: $hoverHrefColor;
        }
    }
    .header{
        text-align: center;
        max-width: 800px;
        margin: auto;
        h2{
            font-weight: 900;
            font-size: $text*2;
            color: $titleColor;
            margin: 20px;
        }
        p{
            font-size: 20px;
            line-height: 1.5;
        }
        >img{
            width: 100%;
            margin: 15px auto;
            &.max_w400{
                max-width: 400px;
            }
        }
    }
    >article{
        width: 70%;
        margin: 30px auto;
        line-height: 1.6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:$text;
        >div{
            width: 50%;
            box-sizing: border-box;
            padding: 0 20px;
            h3{
                text-align: center;
                font-size: 36px;
                color: $titleColor;
            }
            h4{
                color: yellow;
                text-align: center;
                font-size: 30px;
            }
        }
        >div.ani{
            opacity: 1;
            transform: translateY(0%);
        }
        img{
            width: 100%;
            // height: 400px;
            border-radius: 8px;
        }
    }
    >article:nth-of-type(even){
        div:nth-of-type(2){
            order: -1;
        }
    }

    // css
.code{
    max-width: 800px;
    margin: 30px auto;
    line-height: 1.6;
    >h3{
        font-size: $text*1.5;
        text-align: center;
        color: yellow;
        margin-top: 20px;
    }
    p{
        font-size: $text;
    }
    .mark{
        color: chartreuse;
        font-weight: 900;
    }
    ol{
        list-style: decimal;
        font-size: $text;
        padding: 10px 10px 10px 30px;
        border-radius: 3px;
        // padding-left: 35px;
        >li{
            list-style: decimal;
            border-left: 4px solid chartreuse;
            padding-left: 5px;
            background-color: rgba(255, 255, 255,.2);
        }
        pre{
            padding: 5px 10px 5px 5px;
            white-space: pre-wrap !important;
            white-space: -moz-pre-wrap !important;
            word-wrap: break-word;
        }
    }
    // 註解
    ol{
        background-color: cadetblue;
    }
    // li文字 pre
    ol li{
        color: rgb(30, 2, 187);
    }
    // css code內標題文字
    >h5{
        font-size: $text*1.2;
        margin: 10px 0;
        color: yellow;
    }
    img{
        width: 100%;
        border-radius: 8px;
    }
    img.max_w400{
        max-width: 400px;
    }
    .img img{
        width: 100%;
        border-radius: 8px;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .flex.row{
        flex-direction: row;
    }
    .flex_center{
        align-items: center;
    }
    .wrap{
        flex-wrap: wrap;
        word-wrap: break-word;
    }
    .flex_left{
        align-items: left;
    }
    .video{
        width: 100%;
    }
    // JQ頁面
    .problem{
        border-radius: 5px;
        overflow: hidden;
        >.q{
            padding:5px;
            
            background-color: rgba(255, 74, 74,.6);
            &::before{
                content: 'Q : ';
            }
        }
        >.a{
            padding:5px;
            
            background-color: rgba(201, 7, 7,.6);
            &::before{
                content: 'A : ';
            }
        }
        >.a2{
            padding:5px;
            
            background-color: rgba(201, 7, 7,.6);
        }
        >pre{
            padding:5px;
            box-sizing: border-box;
            color: blue;
            background-color: rgba(255, 121, 80,.6);
        }
    }
    .effect_view{
        background-color: rgba(255, 255, 0, 0.1);
        margin: 5px 0;
        padding: 5px;
    }
}

}

.end_text{
    text-align: center;
    margin-bottom: 30px;
    max-width: 1000px;
    margin: 10px auto 30px;
    h2{
        color: $titleColor;
        font-size: $text*2;
        margin-bottom: 20px;
    }
    p{
        color: white;
        font-size: $text;
        line-height: 1.5;
    }
    a{
        color: $hrefColor;
        text-decoration: none;
        transition: all .3s;
        &:hover{
            color: $hoverHrefColor;
        }
    }
    h3{
        font-size: $text*1.5;
        color: $titleColor;
        margin: 10px 0;
    }
    video.radius{
        border-radius: 8px;
        width: 100%;
        max-width: 400px;
    }
}

footer{
    padding: 20px 0 40px 0;
    color: white;
    background-color: black;
    text-align: center;
    position: relative;
    >div{
        padding-top: 15px;
        a.footer_img{
            color: white;
            width: 50px;
            transition: all .3s;
        }
        a:hover{
            color: orange;
        }
    }
    .left{
        display: block;
        position: absolute;
        left: 20px;
        bottom: 60px;
        z-index: 65535;
    }
    .right{
        position: absolute;
        right: 20px;
        bottom: 60px;
        z-index: 65535;
    }
}


@media screen and (max-width:1023px) {
    .nav_menu{
        display: none;
    }
    #touchMenu{
        width: 50px;
        height: 40px;
        border:2px solid rgb(0, 0, 0);
        border-radius: 5px;
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 65535;
        >svg{
            position: absolute;
            cursor: pointer;
        }
        .svg1{
            opacity: 1;
        }
        .svg2{
            opacity: 0;
        }
    }
    .mob_menu{
        position: fixed;
        // position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2rem;
        top: -200%;
        z-index: 10;
        transition: all .5s ease;
        background-color: rgba(30, 30, 30,.9);
        width: 100%;
        height: 100vh;
        z-index: 200;
        a{
            text-decoration: none;
            color: $hoverHrefColor;
            z-index: 200;
            &:focus{
                color: $hrefColor;
            }
        }
        .menu5_more{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
            >li{
                width: 100%;
                text-align: center;
                >a{
                    position: relative;
                    left: -300%;
                    // https://cubic-bezier.com/
                    transition: left .6s cubic-bezier(.9,.3,0,1.18) , color .3s ;
                    z-index: 65535;
                }
            }
        }
    }
    .code{
        padding: 0 20px;
        box-sizing: border-box;
    }
    .banner{
        min-height: 90vh;
        >div{
            opacity: 1;
        }
        >a>img{
            height: auto;
            min-height: 90vh;
            margin: auto;
            object-fit: cover;
        }
        >.banner_left{
            left: 5%;
            background-color: rgba(255,255,255,.2);
        }
        >.banner_right{
            background-color: rgba(255,255,255,.2);
            right: 5%;
        }
    }
    .breadcrumbs{
        margin: 20px 0;
        line-height: 1.5;
        padding-left: 20px;
    }
    .content{
        >header.header{
            padding: 0 20px;
        }
        >article{
            flex-wrap: wrap;
            >div{
                width: 100%;
            }
            >div:nth-of-type(even){
                order: -1;
            }
        }
    }
    footer{
        .left{
            // position: fixed;
            // left: -200%;
            // bottom: 10px;
            // display: block;
            // bottom: 60px;
            // transition: left .3s;
            svg{
                /**/
                position: fixed;
                left: -200%;
                bottom: 10px;
                display: block;
                bottom: 60px;
                transition: left .3s;
                /**/
                color: rgb(255, 246, 221);
                overflow: hidden;
                background-color: rgb(150, 100, 0);
                border-radius: 50%;
            }
        }
        .right{
            right: 20px;
            top: -10px;
        }
    }
}
