@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

$titleColor:rgb(255, 255, 0);
$text:20px;
$hrefColor:blue;
$hoverHrefColor:cyan;

body{
    background: url(../images/bg.webp);
    background-size: 50px 100px;
}
body.fixed_nav{
    margin-top: 100px;
    >nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
    }
}
.mob_menu{
    display: none;
}
#touchMenu{
    display: none;
}
.nav_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(210deg,rgb(240, 224, 0),rgb(255, 77, 77));
    width: 100%;
    position: relative;
    z-index: 1;
    #menuTarget{
        position: absolute;
        top: -100px;
        background-color: rgba(255, 255, 255, 0.5);
        transition: all .3s;
        z-index: -10;
        transform: scale(100%);
    }
    >li ul{
        position: absolute;
        display: none;
        background: linear-gradient(50deg,rgb(240, 176, 0) , rgb(240, 204, 0));
        width: 200px;
        a{
            width: calc(100% - 20px);
            display: inline-block;
            padding: 10px;
        }
        a:hover{
            color: black;
            background-color: white;
        }
    }
    >li{
        a{
            display: inline-block;
            padding: 25px;
            font-size: $text;
        }
    }
    >li:hover ul{
        display: block;
    }
    .menu1{
        order: -2;
    }
    .menu2{
        order: -1;
    }
    .menu3{
        order: 1;
    }
    .menu4{
        order: 3;
    }
    .menu5{
        order: 4;
    }
    a[href='index.html']{
        order: 2;
        img{
            width: 250px;
            margin: 0 20px;
        }
    }

    a{
        text-decoration: none;
        color: $hoverHrefColor;
    }
    img{
        vertical-align: middle;
    }

}

main{
    max-width: 1400px;
    margin: auto;
    padding:0 20px;
}
.breadcrumbs{
    max-width: 1400px;
    font-size: 19px;
    margin: 20px auto;
    color: greenyellow;
    a{
        text-decoration: none;
        color: $hrefColor;
    }
    a+a::before{
        content: ' / ';
        color: rgb(0, 255, 21);
    }
}
.banner{
    max-width: 1600px;
    height: 800px;
    margin: auto ;
    overflow: hidden;
    position: relative;
    perspective: 500px;
    padding: 0 20px;
    div>img{
        width: 40px;
    }
    >div{
        position: absolute;
        color:white;
        z-index: 100;
        top: 45%;
        padding: 30px 10px;
        transition: all .3s;
        cursor: pointer;
        opacity: 0;
    }
    >div:hover{
        background-color: rgba(255,255,255,.5);
    }
    >a{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        position: relative;
        img{
            width: 100%;
            height: 800px;
            position: absolute;
            border-radius: 8px;
            box-sizing: border-box;
        }
    }
    @keyframes bannerAni {
        0%{
            transform: rotateY(270deg);
            opacity: 0;
        }
        50%{
            transform: rotateY(100deg);
            opacity: 0.5;
        }
        100%{
            transform: rotateY(0deg);
            opacity: 1;
        }
    }
    .show{
        animation: bannerAni ease-in .3s
    }
    >.banner_left{
        left: 20px;
    }
    >.banner_right{
        right: 20px;
    }
}
.banner:hover>div{
    opacity: 1;
}

// 全域
.mg_top10{
    margin-top: 10px;
}
ul.icon_check li{
    list-style-image: url(../images/check.svg);
    margin-left: 20px;
}
ul.icon_x li{
    list-style-image: url(../images/x-lg.svg);
    margin-left: 20px;
}
.content{
    border: 5px ridge;
    border-radius: 6px;
    width: 100%;
    margin: 100px auto 50px;
    padding-bottom: 20px;
    color: white;
    .header{
        text-align: center;
        max-width: 800px;
        margin: auto;
        h2{
            font-weight: 900;
            font-size: $text*2;
            color: $titleColor;
            margin: 20px;
        }
        p{
            font-size: 20px;
            line-height: 1.5;
        }
        a{
            color: $hrefColor;
            text-decoration: none;
            transition: color .3s;
        }
        a:hover{
            color: $hoverHrefColor;
        }
        >img{
            margin: 15px auto;
        }
    }
    >article{
        width: 70%;
        margin: 30px auto;
        line-height: 1.6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:$text;


        >div{
            width: 50%;
            box-sizing: border-box;
            padding: 0 20px;
            h3{
                text-align: center;
                font-size: 36px;
                color: $titleColor;
            }
            h4{
                color: yellow;
                text-align: center;
                font-size: 30px;
            }
        }
        >div.ani{
            opacity: 1;
            transform: translateY(0%);
        }
        img{
            width: 100%;
            // height: 400px;
            border-radius: 8px;
        }
        a{
            text-decoration: none;
            color: $hrefColor;
            transition: color .2s;
        }
        a:hover{
            color: $hoverHrefColor;
        }
    }
    >article:nth-of-type(even){
        div:nth-of-type(2){
            order: -1;
        }
    }

    // css
    .code{
        max-width: 800px;
        margin: 30px auto;
        line-height: 1.6;
        >h3{
            font-size: $text*1.5;
            text-align: center;
            color: yellow;
            margin-top: 20px;
        }
        p{
            font-size: $text;
            >a{
                color: $hrefColor;
                transition: all .4s;
                text-decoration: none;
            }
            >a:hover{
                color: $hoverHrefColor;
            }
        }
        .mark{
            color: chartreuse;
            font-weight: 900;
        }
        ol{
            list-style: decimal;
            font-size: $text;
            padding-left: 35px;
            >li{
                list-style: decimal;
                border-left: 4px solid chartreuse;
                padding-left: 5px;
                background-color: rgba(255, 255, 255,.2);
            }
            pre{
                white-space: pre-wrap !important;
                white-space: -moz-pre-wrap !important;
                word-wrap: break-word;
            }
        }
        // 註解
        ol{
            background-color: cadetblue;
        }
        // li文字
        ol li{
            color: blue;
        }
        
        // css code內標題文字
        >h5{
            font-size: $text*1.2;
            margin: 10px 0;
            color: yellow;
        }
        img{
            width: 100%;
            border-radius: 8px;
        }
        .img img{
            width: 100%;
            border-radius: 8px;
        }
        .flex{
            display: flex;
            flex-direction: column;
        }
        .flex_center{
            align-items: center;
        }
        .wrap{
            flex-wrap: wrap;
            word-wrap: break-word;
        }
        .flex_left{
            align-items: left;
        }
        .video{
            width: 100%;
        }
    }

}

.end_text{
    text-align: center;
    margin-bottom: 30px;
    h2{
        color: $titleColor;
        font-size: $text*2;
        margin-bottom: 20px;
    }
    p{
        color: white;
        font-size: $text;
        line-height: 1.5;
    }
    a{
        color: $hrefColor;
        text-decoration: none;
        transition: all .3s;
    }
    a:hover{
        color: $hoverHrefColor;
    }
}

footer{
    padding: 20px 0 40px 0;
    color: white;
    background-color: black;
    text-align: center;
    position: relative;
    >div{
        padding-top: 15px;
        a.footer_img{
            color: white;
            width: 50px;
            transition: all .3s;
        }
        a:hover{
            color: orange;
        }
    }
    .left{
        position: absolute;
        left: 20px;
        top: 10px;
        z-index: 65535;
    }
    .right{
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 65535;
    }
}


@media screen and (max-width:1023px) {
    .nav_menu{
        display: none;
    }
    #touchMenu{
        width: 50px;
        height: 40px;
        border:2px solid black;
        border-radius: 5px;
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 65535;
        >svg{
            position: absolute;
            cursor: pointer;
        }
        >#svg2{
            opacity: 0;
        }
    }
    .mob_menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2rem;
        top: -200%;
        z-index: 10;
        transition: all .5s ease;
        background-color: gray;
        width: 100%;
        height: 100vh;
        z-index: 200;
        a{
            text-decoration: none;
            color: $hoverHrefColor
        }
        a:focus{
            color: $hrefColor;
        }
        >.menu5_more{
            width: 100%;
            height: 100vh;
            left: -200%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
            transition: all .3s;
        }
    }
    .code{
        padding: 0 20px;
        box-sizing: border-box;
    }
    .banner{
        >div{
            opacity: 1;
        }
        >a>img{
            height: auto;
            min-height: 90vh;
            margin: auto;
            object-fit: cover;
        }
        >.banner_left{
            left: 5%;
            background-color: rgba(255,255,255,.2);
        }
        >.banner_right{
            background-color: rgba(255,255,255,.2);
            right: 5%;
        }
    }
    .breadcrumbs{
        padding-left: 20px;
        >a:focus{
            color: $hoverHrefColor;
        }
    }
    .content{
        >header.header{
            padding: 0 20px;
        }
        >article{
            flex-wrap: wrap;
            >div{
                width: 100%;
            }
            >div:nth-of-type(even){
                order: -1;
            }
        }
    }
    footer{
        .left{
            position: fixed;
            left: -200%;
            bottom: 10px;
            display: block;
            top: 75%;
            transition: left .3s;
        }
        .right{
            right: 20px;
            top: -10px;
        }
    }
}

