.wrap{
    width:500px;
    background-color:yellow;
    display: flex;
    &:hover{
        background-color: red;
    }
    >div{
        width:50%;
        margin:10px;
        background-color:orange;
        >p{
            font-size:20px;
            color:blue;
            letter-spacing: 0.9px;
            text-align: center;
        }
    }
}