<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="scss/reset.css">
    <link rel="stylesheet" href="scss/style.css">
</head>
<body>
    
    <nav>

        <ul class="nav_menu">
            <span id="menuTarget"></span>
            <a href="index.html">
                <img src="./images/logo.webp" alt="logo">
            </a>
            <li class="menu1"><a href="./htmlExplain.html">HTML</a></li>
            <li class="menu2"><a href="./cssExplain.html">CSS</a></li>
            <li class="menu3"><a href="./jsExplain.html">JavaScript</a></li>
            <li class="menu4"><a href="./vueExplain.html">Vue</a></li>
            <li class="menu5"><a href="javascript:;">前端更多技術<img src="images/chevron-down.svg" alt="更多資訊"></a>
                <ul>
                    <li><a href="./gitExplain.html">Git</a></li>
                    <li><a href="./regexExplain.html">Regex</a></li>
                    <li><a href="./svgExplain.html">svg</a></li>
                    <li><a href="./seoExplain.html">Seo</a></li>
                    <li><a href="./jqueryExplain.html">jQuery</a></li>
                    <li><a href="./dockerExplain.html">Docker</a></li>
                    <li><a href="./cicdExplain.html">CI/CD</a></li>
                </ul>
            </li>
        </ul>
        <div id="touchMenu">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </div>

        <ul class="mob_menu">
            <li class="menu1"><a href="./index.html">首頁</a></li>
            <li class="menu1"><a href="./htmlExplain.html">HTML</a></li>
            <li class="menu2"><a href="./cssExplain.html">CSS</a></li>
            <li class="menu3"><a href="./jsExplain.html">JavaScript</a></li>
            <li class="menu4"><a href="./vueExplain.html">Vue</a></li>
            <li class="menu5"><a href="javascript:;">前端更多技術</a></li>
            <ul class="menu5_more">
                <li><a href="./gitExplain.html">Git</a></li>
                <li><a href="./regexExplain.html">Regex</a></li>
                <li><a href="./svgExplain.html">svg</a></li>
                <li><a href="./seoExplain.html">Seo</a></li>
                <li><a href="./jqueryExplain.html">jQuery</a></li>
                <li><a href="./dockerExplain.html">Docker</a></li>
                <li><a href="./cicdExplain.html">CI/CD</a></li>
            </ul>
        </ul>
    </nav>

    <div class="breadcrumbs">當前位置: <a href="index.html">首頁</a> <a href="javascript:;">前端更多技術</a> <a href="./dockerExplain.html">Docker</a></div>
    <article class="banner" id="banner">
        <div class="banner_left" @click.stop="imgSwitch(keyN-1)">
            <img src="./images/chevron-left.svg">
        </div>
        <div class="banner_right" @click.stop="imgSwitch(keyN+1)">
            <img src="./images/chevron-right.svg">
        </div>
        <a v-for="(img,index) in banner" :href="img.href" v-show="index === bannerKey && width>=1024" :class="{show:index == bannerKey}" ><img :src="img.src" alt="img.alt"></a> 
        <a v-for="(img,index) in mobBanner" :href="img.href" v-show="index === mobBannerKey && width<=1023" :class="{show:index == mobBannerKey}" ><img :src="img.src" alt="img.alt"></a>
    </article>
    <main>

        
        <section class="content">

            <header class="header">
                <h2>前言</h2>
                <p></p>
            </header>

            <article>

            </article>
        </section>


    </main>

    <footer>
        <p>&copy; ayvc0420</p>
        <div>
            本站最佳瀏覽解析度為1920x1080
        </div> 
    </footer>



<script src="./js/vue_2.6.14.js"></script>
<script src="./js/layout.js"></script>
</body>
</html>