<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <link rel="shortcut icon" href="./images/logoIcon.webp">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Docker介紹"/>
    <meta property="og:url" content="https://ayvc0420.github.io/webDesign/dockerExplain.html"/>
    <meta name="twitter:url" content="https://ayvc0420.github.io/webDesign/dockerExplain.html"/>
    <title>Docker介紹</title>
    <link rel="stylesheet" href="scss/reset.css">
    <link rel="stylesheet" href="scss/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CND1PTT94K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CND1PTT94K');
    </script>
</head>
<body>
    
    <nav id="nav" v-cloak>

        <ul class="nav_menu">
            <span id="menuTarget"></span>
            <li v-for="item in navList" :class="item.class"><a :href="item.href" v-html="item.name"></a>
                <ul>
                    <li v-for="liList in item.ul"><a :href="liList.href">{{liList.name}}</a></li>
                </ul>
            </li>
        </ul>
        <div id="touchMenu">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </div>

        <ul class="mob_menu">
            <li v-for="item in mobNavList" :class="item.class"><a :href="item.href" v-html="item.name"></a>
            </li>
            <div>
                <ul class="menu5_more">
                    <li v-for="item in mobNavList[5].ul"><a :href="item.href">{{item.name}}</a></li>
                </ul>
            </div>
        </ul>
    </nav>


    <div class="breadcrumbs">當前位置: <a href="index.html">首頁</a> <a href="javascript:;">前端更多技術</a> <a href="./dockerExplain.html">Docker</a></div>
    <article class="banner" id="banner" v-cloak>
        <div class="banner_left" @click.stop="imgSwitch(keyN-1)">
            <img src="./images/chevron-left.svg">
        </div>
        <div class="banner_right" @click.stop="imgSwitch(keyN+1)">
            <img src="./images/chevron-right.svg">
        </div>
        <a v-for="(img,index) in banner" :href="img.href" v-show="index === bannerKey && width>=1024" :class="{show:index == bannerKey}" ><img :src="img.src" alt="img.alt"></a> 
        <a v-for="(img,index) in mobBanner" :href="img.href" v-show="index === mobBannerKey && width<=1023" :class="{show:index == mobBannerKey}" ><img :src="img.src" alt="img.alt"></a>
    </article>
    <main>

        
        <section class="content">

            <header class="header">
                <h2>前言</h2>
                <p>本篇僅介紹Docker並不含任何實作，原因為Docker並不是每個網頁開發必須會使用到的工具，在前端開發時經常會因為環境影響造成功能不同，如團隊開發作業系統的差異容易造成開發困難，因此使用Docker可以有效處理這個問題。</p>
            </header>

            <div class="code">
                <h3>Docker是什麼?</h3>
                <p>使用Docker建立一個統一的開發測試環境稱為容器，與虛擬機相似但是執行所需的資源最大相差數十倍，Docker的資源使用率更高也更好管理，使用Docker前須先熟悉Linux常見指令。</p>
                <h3>容器</h3>
                <p>容器(container)是Docker建立的測試環境，容器由映像檔產生，在容器內執行一切操作皆不會影響本機環境，容器使用完畢後可以直接刪除實施用完即棄的概念。</p>
                <h3>映像檔</h3>
                <p>映像檔(images)是Docker建立容器必備的檔案，一個映像檔內會含有執行所需要的工具如後端會含有node.js，映像檔實作可以參考<a href="https://ithelp.ithome.com.tw/articles/10205977?sc=pt" target="new">製作自己的映像檔</a>，一般而言前端並不會自製映像檔，這個映像檔可能是來自後端或是其他倉庫拉下使用。</p>
                <h3>倉庫</h3>
                <p>用來存放映像檔的位置，包含私有與公開，與Git倉庫類似概念，可以pull他人的映像檔或自行製作上傳保存。</p>

                <p>更詳細的Docker可以參考<a href="https://www.youtube.com/watch?v=CxNm-3EedyA" target="new">Docker開發環境建置</a>、<a href="https://ithelp.ithome.com.tw/users/20102562/ironman/3746" target="new">Docker從安裝到進階應用</a>。</p>
            </div>
        </section>

        <article class="end_text">
            <h2>小結</h2>
            <p>如果是剛接觸程式的初學者那麼建議你先緩緩不要碰Docker，如果應用上須面對多平台兼容性與版本問題那麼你應該已經會Docker了。</p>
        </article>


    </main>

    <div id="footer">
        <footer_component></footer_component>
    </div>


    <script src="./js/vue_2.6.14.min.js"></script>
    <script type="module">
        import './js/layout.js'
    </script> 
    <script src="./js/isIE.js"></script>

</body>
</html>