<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <link rel="shortcut icon" href="./images/logoIcon.webp">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Git介紹"/>
    <meta property="og:url" content="https://ayvc0420.github.io/webDesign/gitExplain.html"/>
    <meta name="twitter:url" content="https://ayvc0420.github.io/webDesign/gitExplain.html"/>
    <title>介紹Git</title>
    <link rel="stylesheet" href="scss/reset.css">
    <link rel="stylesheet" href="scss/style.css">
    <link rel="stylesheet" href="scss/jquery.fancybox.min.css">
</head>
<body>
    
    <nav id="nav" v-cloak>

        <ul class="nav_menu">
            <span id="menuTarget"></span>
            <li v-for="item in navList" :class="item.class"><a :href="item.href" v-html="item.name"></a>
                <ul>
                    <li v-for="liList in item.ul"><a :href="liList.href">{{liList.name}}</a></li>
                </ul>
            </li>
        </ul>
        <div id="touchMenu">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </div>

        <ul class="mob_menu">
            <li v-for="item in mobNavList" :class="item.class"><a :href="item.href" v-html="item.name"></a>
            </li>
            <div>
                <ul class="menu5_more">
                    <li v-for="item in mobNavList[5].ul"><a :href="item.href">{{item.name}}</a></li>
                </ul>
            </div>
        </ul>
    </nav>


    <div class="breadcrumbs">當前位置: <a href="index.html">首頁</a> <a href="javascript:;">前端更多技術</a> <a href="./gitExplain.html">Git</a></div>
    <article class="banner" id="banner" v-cloak>
        <div class="banner_left" @click.stop="imgSwitch(keyN-1)">
            <img src="./images/chevron-left.svg">
        </div>
        <div class="banner_right" @click.stop="imgSwitch(keyN+1)">
            <img src="./images/chevron-right.svg">
        </div>
        <a v-for="(img,index) in banner" :href="img.href" v-show="index === bannerKey && width>=1024" :class="{show:index == bannerKey}" ><img :src="img.src" alt="img.alt"></a> 
        <a v-for="(img,index) in mobBanner" :href="img.href" v-show="index === mobBannerKey && width<=1023" :class="{show:index == mobBannerKey}" ><img :src="img.src" alt="img.alt"></a>
    </article>

    <main>

        <section class="content">

            <header class="header">
                <h2>前言</h2>
                <p>Git是一種版本控制系統，傳統確保專案開發時可以回到上一個<del>存檔點</del>記錄點時，會使用copy的方式將整個專案資料夾進行複製，但經過多次的修改資料夾越來越多且命名繁雜，因此2005年<span title="Linux設計者">Linus Benedict Torvalds</span>以GUN條款釋出Git，最初為作者為了更好管理Linux核心而設計出現已經是全球大小專案皆會使用。</p>
            </header>

            <div class="code">
                <h3>Git介紹</h3>
                <ul class="icon_check">
                    <p class="mark">有哪些開發者會使用Git?</p>
                    <li>團隊專案開發</li>
                    <li>個人專案開發</li>
                    <li>平時自行開發/測試項目</li>
                    <li>需要軟體追蹤檔案更改紀錄的開發者</li>
                </ul>
                <ul class="mg_top10 flex wrap left icon_check">
                    <p class="mark">使用Git的優點</p>
                    <li>可以自由切換任一時間的紀錄點</li>
                    <li>指令不出錯情況下不會丟失任何檔案</li>
                    <li>可以找出每行程式碼是出自哪位工程師的手(找戰犯專用)</li>
                    <li>擁有遠端倉庫的情況下就算整台電腦掛掉也能輕鬆復原專案</li>
                    <li>比起copy保存檔案的方式更節省空間使用率</li>
                    <li>可以快速建立一套初始化專案設定</li>
                    <li>免費、開源</li>
                </ul>
                <ul class="mg_top10 flex wrap left icon_x">
                    <p class="mark">使用Git的缺點</p>
                    <li>需要額外花費時間學習Git的指令</li>
                    <li>雖然入門門檻低但需要精通Git的指令非常困難</li>
                </ul>
                <h3>Git的流程</h3>
                <p class="mg_top10">Git分為工作區、暫存區、儲存區，平時開發會在工作區執行，將檔案進行記錄點儲存時需要先將檔案放入暫存區(git add)，執行儲存時會將整個暫存區的檔案進行紀錄附上自訂訊息(git commit)，一般流程可以參考:</p>
                <p class="mg_top10 mg_bottom10 flex wrap flex_center">
                    開發告一段落或需要紀錄儲存點時將檔案加入追蹤(git add)
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    </svg>
                    針對已追蹤的檔案進行訊息紀錄(git commit)
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    </svg>
                    將檔案推送至遠端倉庫保存(git push)，此選項不一定會使用
                </p>
                <h3>應該要如何使用Git</h3>
                <p>使用Windows作業系統須至<a href="https://git-scm.com/" target="new">Git官網</a>安裝Git套件，Linux以及Mac系統已經內建Git套件在終端機可以直接輸入git相關指令安裝，或參考<a href="https://blog.davidou.org/archives/248" target="new">Git基礎使用介紹</a>。</p>
                <p>使用Git前必須先對資料夾建立Git初始化，將資料夾用vs code開啟後在終端機執行<span class="mark">git init</span>指令即可讓Git對這個資料夾進行監控。</p>
                <p>本篇不針對建立使用者資訊做介紹，詳細請參考<a href="https://w3c.hexschool.com/git/8a39ab5" target="new">六角-Git設定個人資訊</a>、<a href="https://medium.com/henrys-jottings/git-2-%E4%BD%BF%E7%94%A8%E8%80%85%E8%A8%AD%E5%AE%9A-%E5%88%9D%E6%9C%9F%E4%BD%BF%E7%94%A8-fcce01702be8" target="new">Git使用者設定教學</a> </p>
                <p>以下內容使用環境為Windows平台vs code編輯器、Git GUI圖形介面工具Git Graph。</p>
                <h3>Git常見指令</h3>
                <ol>
                    <li>git init</li>
                    <p>在終端機當前的位置建立Git設定</p>
                    <li>git branch</li>
                    <p>查看現有分支</p>
                    <li>git branch name</li>
                    <p>新增name分支，如果存在會報錯</p>
                    <li>git branch -d name</li>
                    <p>刪除name分支，如果不存在會報錯</p>
                    <li>git checkout name</li>
                    <p>切換至name分支，填入tag標籤時也可切換至tag標籤記錄點</p>
                    <li>git checkout -b name</li>
                    <p>切換至name分支，如果不存在會目前位置自動新增</p>
                    <li>git add fileName.txt</li>
                    <p>將fileName.txt當下狀態加入追蹤，追蹤後修改儲存並檔案需要再次追蹤</p>
                    <li>git add .</li>
                    <p>將終端機所在位置底下的所有項目進行追蹤</p>
                    <li>git status</li>
                    <p>顯示整個git工作區尚未追蹤的檔案</p>
                    <li>git commit -m "msg"</li>
                    <p>將已追蹤的項目加上msg後提交存為記錄點</p>
                    <li>git commit --amend -m "newMsg"</li>
                    <p>將最後一個commit點的訊息變更為newMsg訊息</p>
                    <li>git reflog</li>
                    <p>顯示最近git的指令，包含SHA-1碼、分支操作，用於拯救reset錯誤動作</p>
                    <li>git tag v0.1</li>
                    <p>將當前所在位置設置一個標籤，標籤紀錄為v0.1，如果要針對commit等對象加入標籤需使用HEAD分離狀態切換，tag建議使用GUI工具</p>
                    <li>git merge targetName</li>
                    <p>將目前所在分支與targetName分支進行融合，融合後會創立一個新的commit點，如果同一支檔案內容有衝突需手動排除</p>
                    <li>git rebase</li>
                    <p>合併分支，與merge不同的是rebase會將目前這個分支的紀錄點融合至對象分支，當有衝突時與merge一樣需排查，完畢後使用git rebase --continue完成rebase動作，反悔輸入--abort</p>
                    <li>git reset commit的SHA-1碼(最低輸入4碼以上，建議輸入6碼)</li>
                    <p>回到對應SHA-1碼的記錄點，操作失誤且丟失當前SHA-1碼時使用git reflog救回</p>
                    <li>git reset --hard HEAD^</li>
                    <p>把當前分支的動作回到上一步，注意是當前分支不是全部操作</p>
                    <li>git reset --hard HEAD~5</li>
                    <p>把當前分支的動作回到上五步，注意是當前分支不是全部操作</p>
                </ol>
                <p>以上是比較基本的Git指令，其中每個指令後面皆有許多參數，有點複雜嗎?那就實際動作操作看看吧!</p>
                <p>以下是使用add checkout commit merge基本指令的Git GUI圖型</p>
                <a href="./images/git01.webp" data-fancybox="git" data-caption="Git圖形化" class="img"><img src="./images/git01.webp" alt="Git圖形化 圖片" title="Git圖形化"></a>
                <p>其中，當我執行merge動作時同一個檔案內有不同分支寫進的紀錄會導致檔案衝突需要人工排除。</p>
                <a href="./images/git02.webp" data-fancybox="git" data-caption="Git merge衝突訊息" class="img"><img src="./images/git02.webp" alt="Git merge衝突訊息 圖片" title="Git merge衝突訊息"></a>
                <p>如圖所示，這邊我們選擇Accept Both Changes都保留，須注意具體程式碼行數可能會被有所移動需要重新確認。</P>
                <p>最後切換至master分支對branch3做merge動作後就會變成這樣。</p>
                <a href="./images/git03.webp" data-fancybox="git" data-caption="Git master merge動作" class="img"><img src="./images/git03.webp" alt="Git master merge動作 圖片" title="Git master merge動作"></a>
                <p>最終在master的時候 01.html檔案內容。</p>
                <a href="./images/git04.webp" data-fancybox="git" data-caption="Git 01.html內容" class="img"><img src="./images/git04.webp" alt="Git 01.html內容 圖片" title="Git 01.html內容"></a>
                <p>最終在master的時候 02.html檔案內容。</p>
                <a href="./images/git05.webp" data-fancybox="git" data-caption="Git 02.html內容" class="img"><img src="./images/git05.webp" alt="Git 02.html內容 圖片" title="Git 02.html內容"></a>
            </div>
        </section>
        <article class="end_text">
            <h2>小結</h2>
            <p>透過上述介紹應該對Git有基本了解了吧?</p>
            <p>Git不止可以協同多人作業，自行開發專案時也是非常好用的工具，更詳細的Git使用可以參考<br><a href="https://backlog.com/git-tutorial/tw/" target="new">猴子都能懂Git指南</a>、<a href="https://learngitbranching.js.org/?locale=zh_TW" target="new">透過遊戲學習Git</a>、<a href="https://www.youtube.com/watch?v=F-ubntPTT1k" target="new">Alex Git基礎開始</a></p>
            <p>備註:使用Git下指令時建議先確認目前HEAD位置，可以使用Git Graph工具藍色圓圈就是當前HEAD所在位置，或使用cat .git/HEAD指令查看當前所在分支位置。</p>
        </article>

    </main>

    <footer>
        <p>&copy; ayvc0420</p> 
        <div>
            本站最佳瀏覽解析度為1920x1080，不支援IE瀏覽器
        </div>
        <div class="left">
            <a href="javascript:;" id="goTop" class="footer_img">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                </svg>
            </a>
        </div>
        <div class="right">
            <a href="javascript:;" title="只是一個github的圖示" class="footer_img">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40 " fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
            </a>
        </div>
    </footer>


    <script src="./js/vue_2.6.14.js"></script>
    <script type="module">
        import './js/navVue.js'
        import './js/bannerVue.js'
        import './js/layout.js'
        import './js/contentAni.js'
        import './js/jquery-3.6.0.min.js'
        import './js/jquery.fancybox.min.js'
    </script>

</body>
</html>