<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <link rel="shortcut icon" href="./images/htmlLogo.webp">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="HTML介紹"/>
    <meta property="og:url" content="https://ayvc0420.github.io/webDesign/htmlExplain.html"/>
    <meta name="twitter:url" content="https://ayvc0420.github.io/webDesign/htmlExplain.html"/>
    <title>HTML介紹</title>
    <link rel="stylesheet" href="scss/reset.css">
    <link rel="stylesheet" href="scss/style.css">
    <style>
        .content ol{
            list-style: decimal;
            border-left: 4px solid chartreuse;
            padding-left: 22px;
            background-color: rgba(255, 255, 255,.2)
        }
        .content article{
            align-items: flex-start;
        }
        .content>article>div{
            transition: all .6s;
            opacity: 0;
            transform: translateY(30%);
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CND1PTT94K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CND1PTT94K');
    </script>
</head>
<body>
    
    <nav id="nav" v-cloak>

        <ul class="nav_menu">
            <span id="menuTarget"></span>
            <li v-for="item in navList" :class="item.class"><a :href="item.href" v-html="item.name"></a>
                <ul>
                    <li v-for="liList in item.ul"><a :href="liList.href">{{liList.name}}</a></li>
                </ul>
            </li>
        </ul>
        <div id="touchMenu">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </div>

        <ul class="mob_menu">
            <li v-for="item in mobNavList" :class="item.class"><a :href="item.href" v-html="item.name"></a>
            </li>
            <div>
                <ul class="menu5_more">
                    <li v-for="item in mobNavList[5].ul"><a :href="item.href">{{item.name}}</a></li>
                </ul>
            </div>
        </ul>
    </nav>


    <div class="breadcrumbs">當前位置: <a href="./index.html">首頁</a><a href="./htmlExplain.html">HTML</a></div>
    <article class="banner" id="banner" v-cloak>
        <div class="banner_left" @click.stop="imgSwitch(keyN-1)">
            <img src="./images/chevron-left.svg">
        </div>
        <div class="banner_right" @click.stop="imgSwitch(keyN+1)">
            <img src="./images/chevron-right.svg">
        </div>
        <a v-for="(img,index) in banner" :href="img.href" v-show="index === bannerKey && width>=1024" :class="{show:index == bannerKey}" ><img :src="img.src" alt="img.alt"></a> 
        <a v-for="(img,index) in mobBanner" :href="img.href" v-show="index === mobBannerKey && width<=1023" :class="{show:index == mobBannerKey}" ><img :src="img.src" alt="img.alt"></a>
    </article>
    <main>


        <section class="content">
            <header class="header">
                <h2>前言</h2>
                <p>HTML是構成網頁的基礎架構，無論是透過JS創造的標籤或使用template語法最後都會被瀏覽器編譯成HTML執行渲染，HTML是一種標籤語法，除了部分特殊的標籤如:input、hr等以外其他語法在撰寫上都必須要有對應的標籤&lt;/>作為封閉。</p>
                <p>HTML的結構不僅是控制css的要點之一，也是讓搜尋引擎更容易針對網頁進行資料蒐集的重點，如何正確使用語意化標籤在SEO上會有一定的影響，開始前建議先安裝vs code套件<a href="https://marketplace.visualstudio.com/items?itemName=abusaidm.html-snippets" target="new">HTML Snippets</a>可以減少撰寫HTML標籤時間。</p>
            </header>
            <div class="code">
                <h3>執行網頁</h3>
                <p>使用vs code開啟資料夾後建立一個.html的檔案(首頁預設index.html)，使用emmet輔助工具提供的快捷語法只要輸入「!」一個驚嘆號就可以建立初始化網頁內容，使用瀏覽器執行檔案就會自動將檔案轉換成網頁語法呈現在畫面上，以下用tag代替「標籤」一詞介紹html的使用方式。</p>
            </div>
            <article>
                <div>
                    <h4>a tag</h4>
                    <p>a tag是超連結的使用方式</p>
                    <ol>
                        <li>&lt;a href="導向連結">&lt;/a><br>可選擇參數target(開啟新視窗方式)、title(提示文字)等</li>
                    </ol>
                </div>
                <div>
                    <h4>標題系列tag</h4>
                    <p>文章標題皆建議使用此系列標籤，一般預設由大至小分別會有不同的粗體及字體大小</p>
                    <ol>
                        <li>&lt;h1>內容&lt;/h1><br>&lt;h2>內容&lt;/h2><br>...<br>&lt;h6>內容&lt;/h6>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>section tag</h4>
                    <p>section語意為一個獨立區域的部分，一個section內應有標題的結構</p>
                    <ol>
                        <li>&lt;section><br>其他標籤及內容<br>&lt;section></li>
                    </ol>
                </div>
                <div>
                    <h4>article tag</h4>
                    <p>article語意與section類似，一個article內應有標題、內文或圖片等相關結構</p>
                    <ol>
                        <li>&lt;article><br>其他標籤及內容<br>&lt;/article></li>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>div tag</h4>
                    <p>div語意為一個沒有特別含意的區域，在有article、section等情況下，div的使用時間應要減少</p>
                    <ol>
                        <li>&lt;div>其他標籤或內文&lt;/div></li>
                    </ol>
                </div>
                <div>
                    <h4>span tag</h4>
                    <p>span語意為行內的元素，一般如果用於句子中某部分內容時會套用其他樣式</p>
                    <ol>
                        <li><p>&lt;p>內文內文內文&lt;span>套用其他樣式的內文&lt;/span>&lt;/p></p></li>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>ol tag</h4>
                    <p>ol語意為有序清單，其本身自帶list-style:decimal的屬性，有各種<a href="https://developer.mozilla.org/zh-CN/docs/Web/HTML/Element/ol" target="new">參數</a>可以使用</p>
                    <ol>
                        <li>&lt;ol><br>&nbsp;&nbsp;&lt;li>內文&lt;/li><br>&nbsp;&nbsp;&lt;li>內文&lt;/li><br>&lt;/ol></li>
                    </ol>
                </div>
                <div>
                    <h4>ul tag</h4>
                    <p>ul語意為無序清單，當子內容為同類型項目時父元素可以選擇用ul包覆，表明這個ul內是一組清單</p>
                    <ol>
                        <li>&lt;ul><br>&nbsp;&nbsp;&lt;li>內文&lt;/li><br>&nbsp;&nbsp;&lt;li>內文&lt;/li><br>&lt;/ul></li>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>main tag</h4>
                    <p>main語意為網頁中主要內容區域，使用main在無障礙網頁中會有提升體驗的效果，一個網頁中不應有超過一個以上的main標籤</p>
                    <ol>
                        <li>&lt;main><br>各種標籤及內文<br>&lt;/main></li>
                    </ol>
                </div>
                <div>
                    <h4>nav tag</h4>
                    <p>nav內通常包含導覽列區域，其內容包含網頁內的連結或導向其他網頁的連結</p>
                    <ol>
                        <li>&lt;nav><br>&nbsp;&nbsp;&lt;ul><br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li>&lt;a href="#">連結文字&lt;/a>&lt;/li><br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li>&lt;a href="#">連結文字&lt;/a>&lt;/li><br>&nbsp;&nbsp;&lt;/ul><br>&lt;/nav></li>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>p tag</h4>
                    <p>p tag的語意為內文的段落，通常一個p內會有一段句子，同時p自帶display:block特性會強制占用一行空間</p>
                    <ol>
                        <li>&lt;p>內文&lt;/p></li>
                        <li>&lt;p>內文&lt;/p></li>
                        <li>&lt;p>內文&lt;/p></li>
                    </ol>
                </div>
                <div>
                    <h4>br tag</h4>
                    <p>br的用意在於斷行，通常使用於文字有其他含意的地方。</p>
                    <ol>
                        <li>&lt;p>內文內文&lt;br><br>內文&lt;/p></li>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>img tag</h4>
                    <p>img為置入圖片的語法，必須包含src參數，可選用的參數有alt、title等</p>
                    <ol>
                        <li>&lt;img src="圖片連結位置"></li>
                    </ol>
                </div>
                <div>
                    <h4>aside tag</h4>
                    <p>aside的語意為側邊獨立區域，與article、section類似，通常用於側邊導覽列等</p>
                    <ol>
                        <li>&lt;aside><br>其他標籤及內容<br>&lt;/aside></li>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>header tag</h4>
                    <p>header的位置通常於區域內的頂部，其大多數內含標題或大綱等</p>
                    <ol>
                        <li>&lt;header>標籤或內文&lt;/header></li>
                    </ol>
                </div>
                <div>
                    <h4>footer tag</h4>
                    <p>footer的位於通常於網頁底部或區域內底部，用於表達版權相關訊息或聯絡資訊等訊息</p>
                    <ol>
                        <li>&lt;footer>標籤或內容&lt;/footer></li>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>body tag</h4>
                    <p>body的內容為會在畫面上呈現的元素，任何要顯示在畫面上的元素都必須放在body內</p>
                    <ol>
                        <li>&lt;body><br>呈現在畫面上的標籤及內容<br>&lt;/body></li>
                    </ol>
                </div>
                <div>
                    <h4>html tag</h4>
                    <p>html標籤是整個網頁檔案最外層的標籤，其內容包含一切網頁文檔標籤，允許在html外的標籤只有!doctype宣告檔案型別</p>
                    <ol>
                        <li>&lt;!DOCTYPE html><br>&lt;html lang="網頁語系如zh-TW"><br>&nbsp;&nbsp;&lt;head><br>&nbsp;&nbsp;&lt;/head><br>&nbsp;&nbsp;&lt;body><br>&nbsp;&nbsp;&lt;/body><br>&lt;/html></li>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>meta tag</h4>
                    <p>meta是一種透過各種參數告訴搜尋引擎要顯示網站時呈現哪些元素或內容，此標籤用於SEO優化居多</p>
                    <ol>
                        <li>&lt;meta charset="網頁使用的編碼如UTF-8"></li>
                        <li>&lt;meta name="description" content="搜尋引擎中顯示的網站內文" /></li>
                        <li>&lt;meta property="og:image" content="在FB上預覽網站要顯示的縮圖連結"/></li>
                        
                    </ol>
                </div>
                <div>
                    <h4>head tag</h4>
                    <p>head位置位於網頁原始碼的頂部，其用意為包覆網頁提供搜尋引擎的訊息如:title、meta標籤以及導入css樣式連結也會在head標籤內</p>
                    <ol>
                        <li>&lt;head><br>&nbsp;&nbsp;&lt;meta 相關參數><br>&nbsp;&nbsp;&lt;meta 相關參數><br>&nbsp;&nbsp;&lt;title網站的標題&lt;/title><br>&nbsp;&nbsp;&lt;link rel="stylesheet" href="css檔案位置"><br>&lt;/head></li>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>style tag</h4>
                    <p>style位置依照開發者習慣會在網頁各個不同的地方，只有在style tag標籤內才可以使用css樣式</p>
                    <ol>
                        <li>&lt;style><br>css相關樣式參數... <br>&lt;/style></li>
                    </ol>
                </div>
                <div>
                    <h4>link tag</h4>
                    <p>link包含了許多參數，其用意為導入其他檔案至網頁中，最常見的如css樣式連結、標題icon圖示等</p>
                    <ol>
                        <li>&lt;link rel="shortcut icon" href="顯示在網頁標題的圖片位置"><br>&lt;link rel="stylesheet" href="css檔案位置"></li>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>script tag</h4>
                    <p>script內只能使用JS相關語法或搭配src參數將JS檔案導入網頁，隨著網頁內容越來越多，script的位置現在大多位於網頁底部&lt;/body>前，避免優先載入過多JS檔案而HTML、CSS載入緩慢導致使用者瀏覽體驗不佳的情況</p>
                    <ol>
                        <li>&lt;script><br>js語法...<br>&lt;/script></script></li>
                        <li>&lt;script src="js檔案位置"></script></li>
                    </ol>
                </div>
                <div>
                    <h4>table tag</h4>
                    <p>table為表格最外層的標籤，用於包覆與表格相關的標籤屬性，其子元素的<a href="https://developer.mozilla.org/zh-CN/docs/Web/HTML/Element/table" target="new">參數</a>有非常多如:thead、tbody、tr、th、td等</p>
                    <ol>
                        <li>&lt;table><br>&nbsp;&nbsp;&lt;thead><br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;tr><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;th colspan="佔欄位格數如:2">這是標題&lt;/th><br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr><br>&nbsp;&lt;/thead><br>&nbsp;&nbsp;&lt;tbody><br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;tr><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td>內文&lt;/td><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td>內文&lt;/td><br>&nbsp;&nbsp;&lt;/tbody><br>&lt;/table></li>
                    </ol>
                </div>
            </article>
            <article>
                <div>
                    <h4>select tag</h4>
                    <p>select為下拉式選單元件，其子元素必須要有option作為選項，建議使用參數value</p>
                    <ol>
                        <li>&lt;select><br>&nbsp;&nbsp;&lt;option><br>&nbsp;&nbsp;&nbsp;&nbsp;選項內容<br>&nbsp;&nbsp;&lt;/option><br>&lt;/select></li>
                    </ol>
                </div>
                <div>
                    <h4>input tag</h4>
                    <p>input有非常多類型，使用type參數作為設定如:input type="text"等，若需要使用form表單功能input name參數則為強烈建議填入，name用於送出表單後後端根據name判斷格式</p>
                    <ol>
                        <li>&lt;input type="類別" name="input的名稱" value="input的值"></li>
                    </ol>
                </div>
            </article>
        </section>


        <article class="end_text">
            <h2>小結</h2>
            <p>隨著網頁越來越多元化，如何正確使用HTML標籤建立結構不僅會影響編寫CSS的難易度也會對網站SEO有一定的影響。</p>
            <p>要了解網頁結構是否有問題可以使用開發人員工具(F12)Elements的功能可以查看標籤對應的區塊。</p>
            <p>更多關於網頁元素可以參考<a href="https://developer.mozilla.org/zh-CN/docs/Web/HTML/Element" target="new">MDN HTML</a></p>
        </article>

    </main>

    <footer>
        <p>&copy; ayvc0420</p> 
        <div>
            本站最佳瀏覽解析度為1920x1080，不支援IE瀏覽器
        </div>
        <div class="left">
            <a href="javascript:;" id="goTop" class="footer_img">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                </svg>
            </a>
        </div>
        <div class="right">
            <a href="javascript:;" title="只是一個github的圖示" class="footer_img">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40 " fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
            </a>
        </div>
    </footer>

    <script src="./js/vue_2.6.14.min.js"></script>
    <script type="module">
        import './js/navVue.js'
        import './js/bannerVue.js'
        import './js/layout.js'
        import './js/contentAni.js'
    </script>



</body>
</html>